<html>
  <head>
    <title>/<%=@path%> - Sisyphus Wiki</title>
  </head>
  <body>
    <h1>/<%=@path%></h1>
    <ol>
      <li><a href="/view/<%=@path%>">View</a></li>
      <li><a href="/edit/<%=@path%>">Edit</a></li>
      <li><a href="/commits/<%=@path%>">Commits</a></li>
    </ol>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
